<header>
    <div id="logo">
        <span class="material-icons-outlined">
            movie
        </span>
        <a href="../../index.php" style="text-decoration: none; color:#625FFF"><span id="textlogo">CMBD</span></a>
    </div>
    <div id="sign-in">
        <a href="./sign_in.php">
            <span class="material-icons-outlined">
                login
            </span>
            <span id="logtext">Sign In</span>
        </a>
    </div>
    <div id="sign-up">
        <a href="./sign_up.php">
            <span class="material-icons-outlined">
                person_add_alt_1
            </span>
            <span id="regtext">Sign Up</span>
        </a>
    </div>
</header>